*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
html {
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply border-2 border-transparent py-3 w-20 flex justify-center items-center bg-white dark:bg-container_dark_lighter    hover:border-black dark:border-container_dark_lighter dark:hover:border-container font-bold rounded-3xl;
}
.btn-socials {
  @apply hover:underline p-2  rounded-full   md:hidden ml-2 border-2 border-transparent;
}

.largeBtn {
  @apply flex font-bold px-8 py-5 rounded-full  hover:bg-opacity-70 hover:shadow-lg hover:transform hover:-translate-y-1 transition-transform duration-300 ease-in-out tracking-wide cursor-pointer items-center text-center justify-center;
}
.formField {
  @apply w-full p-2 bg-white dark:bg-container placeholder:text-black rounded-lg focus:outline-none text-black border-2 border-black dark:placeholder:border-container_lighter;
}
@layer components {
  body {
    @apply font-sans;
  }
  h1 {
    @apply font-semibold text-3xl md:text-4xl  max-w-md text-center leading-snug tracking-wider;
  }
}
